transformers==4.44.0
huggingface_hub==0.24.5
nltk==3.8.1
pandas
gradio==4.36.1
spacy>=3.7.0
pyvis==0.3.2
networkx
pandas
numpy
scikit-learn
beautifulsoup4
scrapy
lxml
python-dotenv==1.0.1
evaluate==0.4.6
bitsandbytes==0.43.3
peft
trl==0.9.6
starlette<0.38.0